.add-task {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .add-task__input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .add-task__btn {
    padding: 10px 20px;
    border: none;
    background-color: var(--color-blue-btn);
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }